.s-main-nav {
  background-color: @bg-color--dark;
  color: @text-color--light;
  position: relative;

  &__list {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: @blue;
    font-size: 0.75rem;

    @media (min-width: @screen-sm) {
      display: block;
      position: static;
      font-size: 0.875rem;

      @supports (display: flex) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }

    &--is-active {
      display: block;
    }
  }

  &__item {
    display: block;
    text-align: center;
    border-top: 1px solid @blue-lighter;

    @media (min-width: @screen-sm) {
      display: inline-block;
      float: left;
      width: 16.66666%;
      text-align: center;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      @supports (display: flex) {
        width: auto;
        flex: auto;
      }
    }
  }

  &__link {
    display: inline-block;
    color: currentColor;
    text-transform: uppercase;
    width: 100%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    @media (min-width: @screen-sm) {
      padding-top: 1.25em;
      padding-bottom: 1.25em;
    }

    &:hover,
    &:active {
      background-color: @blue-lighter;
    }
  }
}