<nav class="s-main-nav" role="navigation">
  <div class="container">
    <ul class="s-main-nav__list">
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">О компании</a>
      </li>
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">Консалтинг</a>
      </li>
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">Обучение</a>
      </li>
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">Библиотека</a>
      </li>
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">Акции</a>
      </li>
      <li class="s-main-nav__item">
        <a href="#" class="s-main-nav__link">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="s-burger">
    <span></span>
  </div>
</nav>