<section class="s-testimonials">
  <h2 class="main-subtitle"><span>Отзывы</span></h2>
  <div class="s-testimonials__content">
    <p><strong>ОАО «РМЗ «ГАЗПРОМНЕФТЬ-ОМПЗ»<br>Директор<br>С.А. Аверьянов</strong></p>
    <p><em>А.Ф. Васильков продемонстрировал глубокие знания своего дела, богатый и весьма полезный для нас практический опыт. Выражаем особую благодарность, как преподавателю, за его интересные и практически ценные семинары, которые он провёл для руководителей подразделений внутренних аудиторов нашего предприятия</em></p>
  </div>
  <div class="s-controls">
    <button class="s-controls__item s-controls__item--left"></button>
    <button class="s-controls__item s-controls__item--right"></button>
  </div>
</section>