<section class="s-seminars">
  <h2 class="main-subtitle"><span>Семинары</span></h2>
  <div class="s-seminars__info">
    <ul class="s-seminars__info-list">
      <li><a href="#" class="s-more">План семинаров</a></li>
      <li><a href="#" class="s-more">Акции</a></li>
    </ul>
  </div>
  <a href="#" class="s-btn s-btn--small">Подать заявку</a>
</section>