<section class="s-promo">
  <div class="s-promo__slider owl-carousel owl-theme">
    <div class="s-promo__slide s-promo__slide--first">
      <div class="container">
        <h2 class="s-promo__title">Регистр-консалтинг</h2>
        <p class="s-promo__desc">Консультационные и обучающие услуги предприятиям при разработке и внедрении систем менеджмента в соответствии с требованиями международных стандартов ISO серий 9000, 14000 и OHSAS 18000.</p>
      </div>
    </div>
    <div class="s-promo__slide s-promo__slide--second"></div>
    <div class="s-promo__slide s-promo__slide--third"></div>
  </div>
</section>