.s-promo {
  color: @text-color--light;
  position: relative;

  &__slide {
    min-height: 30em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &--first {
      background-image: url(../img/promo-slide-1.png);
    }

    &--second {
      background-image: url(../img/promo-slide-2.png);
    }

    &--third {
      background-image: url(../img/promo-slide-3.png);
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 1.5rem;

    @media (min-width: @screen-sm) {
      font-size: 3rem;
    }
  }

  .owl-theme .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid @text-color--light;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: @text-color--light;
  }
}