.s-news {

  &__content {
    margin-bottom: 2rem;
  }

  &__list {
    list-style-type: none;
  }

  &__item-date {
    position: relative;
    font-size: 0.625em;
    color: @gray;
    text-transform: uppercase;
    display: inline-block;

    &::before {
      position: relative;
      display: inline-block;
      content: '';
      top: 1px;
      left: 2px;
      width: 1px;
      height: 0.7rem;
      margin-right: 0.75rem;
      background-color: currentColor;
    }
  }

  &__item-title {
    color: @blue;
    font-weight: 700;
    font-size: 0.75em;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}