<section class="s-news">
  <h2 class="main-subtitle"><span>Новости</span></h2>
  <div class="s-news__content">
    <ul class="s-news__list">
      <li class="s-news__item">
        <time class="s-news__item-date" datetime="2018-01-20 00:00">20 января 2018</time>
        <h3 class="s-news__item-title">Обучение аудиторов СМК</h3>
      </li>
      <li class="s-news__item">
        <time class="s-news__item-date" datetime="2018-01-20 00:00">20 января 2018</time>
        <h3 class="s-news__item-title">Система энергетического менеджмента</h3>
      </li>
      <li class="s-news__item">
        <time class="s-news__item-date" datetime="2018-01-20 00:00">20 января 2018</time>
        <h3 class="s-news__item-title">Обучение для пищевиков ПО ХАССП</h3>
      </li>
      <li class="s-news__item">
        <time class="s-news__item-date" datetime="2018-01-20 00:00">20 января 2018</time>
        <h3 class="s-news__item-title">Отраслевые системы менеджмента качества</h3>
      </li>
    </ul>
  </div>
  <a href="#" class="s-more s-more--uppercase">Все новости</a>
</section>