.s-breadcrumbs {
  margin-top: 2rem;
  font-size: @font-size--small;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    a {
      color: currentColor;
    }

    &:not(:last-child) {

      &::after{
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        background-color: transparent;
        border: 1px solid currentColor;
        border-left: 0;
        border-bottom: 0;
        margin: 0 0.5em;
        transform: translate(0,-10%) rotate(45deg);
      }
    }

    &--is-active {
      opacity: 0.75;
    }
  }
}