<header class="s-page-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-3 col-lg-5">
        <a href="index.html" class="s-page-header__logo s-logo">
          <img src="img/logo.png" alt="">
        </a>
        <div class="s-page-header__slogan s-slogan">
          <strong class="s-slogan__title">Регистр-консалтинг</strong>
          <div class="s-slogan__desc">Консалтинг, обучение и внедрение СМК ISO серий 9000, 14000 и OHSAS 18000</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
        <div class="s-page-header__contact-info">
          <div class="row">
            <div class="hidden-xs col-sm-6">
              <h4 class="s-page-header__contact-info-title s-page-header__contact-info-title--address">Адрес:</h4>
              <ul class="s-page-header__contact-info-list">
                <li class="s-page-header__contact-info-item">
                  <strong>наб. Кутузова, д.30</strong>
                </li>
                <li class="s-page-header__contact-info-item">
                  <strong>наб. р.Волковки, д.7</strong>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4 class="s-page-header__contact-info-title s-page-header__contact-info-title--phone-numbers">Телефон:</h4>
              <ul class="s-page-header__contact-info-list">
                <li class="s-page-header__contact-info-item">
                  <a href="tel:+78122750512" class="s-page-header__contact-info-link">+7 (812) 275 05 12</a>
                </li>
                <li class="s-page-header__contact-info-item">
                  <a href="tel:+78122750513" class="s-page-header__contact-info-link">+7 (812) 275 05 12</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden-xs col-sm-4 col-md-4 col-lg-3">
        <div class="s-page-header__feedback">
          <button class="s-btn">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
</header>