.s-page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__logo {
    vertical-align: top;
    margin-right: 1rem;

    @media (min-width: @screen-lg) {
      display: inline-block;
      max-width: 25%;
    }
  }

  &__slogan {
    display: none;
    vertical-align: top;

    @media (min-width: @screen-lg) {
      display: inline-block;
      max-width: 70%;
    }
  }

  &__contact-info {
    padding-top: 0.75rem;
  }

  &__contact-info-title {
    font-size: 0.875em;
    margin: 0;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
    }

    &--phone-numbers {

      &::before {
        .sprite(@phone-blue)
      }
    }

    &--address {

      &::before {
        .sprite(@map-point-blue)
      }
    }
  }

  &__contact-info-list {
    list-style-type: none;
  }

  &__contact-info-item {
    font-size: 0.875em;
  }

  &__contact-info-link {
    color: currentColor;
    font-weight: 700;
  }

  &__feedback {
    text-align: right;
    padding-top: 1rem;
  }
}