.s-consulting {
  padding-bottom: 0;
  padding-top: 2rem;

  &__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;

    @media (min-width: @screen-md) {
      min-height: 589px;
    }
  }

  &__info {

    a {
      color: currentColor;
    }
  }

  &__item {
    position: relative;
    padding-left: 1em;
    margin-top: 0;

    &::before {
      position: absolute;
      content: '';
      top: 0.2em;
      left: 0;
      width: 2px;
      height: ~'calc( 100% - 0.4em)';
      background-color: @bg-color--dark;
    }
  }

  &__term {
    font-size: 0.875em;
    line-height: 1.3rem;
    font-weight: 700;
  }

  &__desc {
    font-size: 0.75em;
    line-height: 1.3rem;
    margin: 0;
  }
}