/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@mail-border-name: 'mail--border';
@mail-border-x: 53px;
@mail-border-y: 0px;
@mail-border-offset-x: -53px;
@mail-border-offset-y: 0px;
@mail-border-width: 23px;
@mail-border-height: 17px;
@mail-border-total-width: 76px;
@mail-border-total-height: 69px;
@mail-border-image: '../img/sprite-png.png';
@mail-border: 53px 0px -53px 0px 23px 17px 76px 69px '../img/sprite-png.png' 'mail--border';
@mail-white-name: 'mail--white';
@mail-white-x: 0px;
@mail-white-y: 35px;
@mail-white-offset-x: 0px;
@mail-white-offset-y: -35px;
@mail-white-width: 19px;
@mail-white-height: 14px;
@mail-white-total-width: 76px;
@mail-white-total-height: 69px;
@mail-white-image: '../img/sprite-png.png';
@mail-white: 0px 35px 0px -35px 19px 14px 76px 69px '../img/sprite-png.png' 'mail--white';
@map-point-blue-name: 'map-point--blue';
@map-point-blue-x: 40px;
@map-point-blue-y: 53px;
@map-point-blue-offset-x: -40px;
@map-point-blue-offset-y: -53px;
@map-point-blue-width: 12px;
@map-point-blue-height: 16px;
@map-point-blue-total-width: 76px;
@map-point-blue-total-height: 69px;
@map-point-blue-image: '../img/sprite-png.png';
@map-point-blue: 40px 53px -40px -53px 12px 16px 76px 69px '../img/sprite-png.png' 'map-point--blue';
@map-point-border-name: 'map-point--border';
@map-point-border-x: 0px;
@map-point-border-y: 0px;
@map-point-border-offset-x: 0px;
@map-point-border-offset-y: 0px;
@map-point-border-width: 22px;
@map-point-border-height: 31px;
@map-point-border-total-width: 76px;
@map-point-border-total-height: 69px;
@map-point-border-image: '../img/sprite-png.png';
@map-point-border: 0px 0px 0px 0px 22px 31px 76px 69px '../img/sprite-png.png' 'map-point--border';
@phone-blue-name: 'phone--blue';
@phone-blue-x: 0px;
@phone-blue-y: 53px;
@phone-blue-offset-x: 0px;
@phone-blue-offset-y: -53px;
@phone-blue-width: 16px;
@phone-blue-height: 16px;
@phone-blue-total-width: 76px;
@phone-blue-total-height: 69px;
@phone-blue-image: '../img/sprite-png.png';
@phone-blue: 0px 53px 0px -53px 16px 16px 76px 69px '../img/sprite-png.png' 'phone--blue';
@phone-border-name: 'phone--border';
@phone-border-x: 26px;
@phone-border-y: 0px;
@phone-border-offset-x: -26px;
@phone-border-offset-y: 0px;
@phone-border-width: 23px;
@phone-border-height: 23px;
@phone-border-total-width: 76px;
@phone-border-total-height: 69px;
@phone-border-image: '../img/sprite-png.png';
@phone-border: 26px 0px -26px 0px 23px 23px 76px 69px '../img/sprite-png.png' 'phone--border';
@phone-white-name: 'phone--white';
@phone-white-x: 20px;
@phone-white-y: 53px;
@phone-white-offset-x: -20px;
@phone-white-offset-y: -53px;
@phone-white-width: 16px;
@phone-white-height: 16px;
@phone-white-total-width: 76px;
@phone-white-total-height: 69px;
@phone-white-image: '../img/sprite-png.png';
@phone-white: 20px 53px -20px -53px 16px 16px 76px 69px '../img/sprite-png.png' 'phone--white';
@spritesheet-width: 76px;
@spritesheet-height: 69px;
@spritesheet-image: '../img/sprite-png.png';
@spritesheet-sprites: @mail-border @mail-white @map-point-blue @map-point-border @phone-blue @phone-border @phone-white;
@spritesheet: 76px 69px '../img/sprite-png.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
