.s-btn {
  position: relative;
  display: inline-block;
  min-width: 190px;
  background-color: transparent;
  background-image: none;
  color: @button-color;
  padding: 1em 1.75em;
  border: 2px solid @button-border;
  border-radius: 0.4em;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;

  &--small {
    font-size: 0.75rem;
    border-radius: 0;
  }
}