<article class="s-consulting-services">
  <div class="container">
    <h2 class="s-consulting-services__title">Консалтинговые услуги</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <section class="s-consulting-services__direction">
          <h3 class="s-consulting-services__subtitle">
            <span>Стандарты СМК</span>
          </h3>
          <ul class="s-consulting-services__list">
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO 50001</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">OHSAS 18001</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO 14001</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO 9001</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-xs-12 col-sm-4">
        <section class="s-consulting-services__direction">
          <h3 class="s-consulting-services__subtitle">
            <span>Отраслевые стандарты</span>
          </h3>
          <ul class="s-consulting-services__list">
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">IRIS</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO/TS 29001</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO/TS 16949:2009</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">СТО ГАЗПРОМ 9001</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-xs-12 col-sm-4">
        <section class="s-consulting-services__direction">
          <h3 class="s-consulting-services__subtitle">
            <span>Специализированные стандарты</span>
          </h3>
          <ul class="s-consulting-services__list">
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO/IEC 27001</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO 22000:2005</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ISO/IEC 17025</a>
            </li>
            <li class="s-consulting-services__item">
              <a href="#" class="s-more s-more--uppercase">ГОСТ РВ 0015-002</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>