.s-consulting-services {
  background-color: @bg-color--light;
  padding-top: 2rem;
  padding-bottom: 4rem;

  &__title {
    font-size: 1.5rem;
    color: @text-color--colored;
    text-align: left;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      text-align: center;
    }
  }

  &__direction {
    background-color: @white;
    padding: 2rem;
    margin-bottom: 15px;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 2rem;

    span {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        background-color: @bg-color--dark;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -0.5rem;
      }
    }
  }

  &__list {
    list-style-type: none;
  }
}