.main-subtitle {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;

  span {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-color: @blue;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -0.5rem;
    }
  }
}