<div class="s-section s-services">
  <div class="container">
    <ul class="s-services__list row">
      <li class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="s-services__item s-services__item--presentation">
            <div class="s-services__item-sublayer">
              <div class="s-services__item-desc">Презентация</div>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="s-services__item s-services__item--consulting">
            <div class="s-services__item-sublayer">
              <div class="s-services__item-desc">Консалтинг</div>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="s-services__item s-services__item--education">
            <div class="s-services__item-sublayer">
              <div class="s-services__item-desc">Обучение</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>