.s-services {

  &__list {
    list-style-type: none;
  }

  &__item {
    position: relative;
    min-height: 200px;
    background-color: @bg-color--dark;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: @text-color--light;
    margin-bottom: 15px;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
      min-height: 260px;
    }

    &--presentation {
      background-image: url(../img/presentation.png);
    }

    &--consulting {
      background-image: url(../img/consulting.png);
    }

    &--education {
      background-image: url(../img/education.png);
    }
  }

  &__item-sublayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }

  &__item-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: bold;
  }
}