// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@blue:                        #003a70;
@blue-lighter:                #2c80ca;

@text-color:                  #333;
@text-color--light:           #fff;
@text-color--colored:         @blue;

@bg-color--light:             @gray-lightest;
@bg-color--dark:              @blue;

@button-color:                @blue;
@button-border:               @blue;

// Typography

// Main size
@font-size:                   100%;
// @font-size--desktop:          112.5%;

// Custom
@font-size--h1:               5.063rem;
@font-size--h2:               3.375rem;
@font-size--h3:               2.25rem;
@font-size--h4:               1rem;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
@font-size--small:            0.75rem;
@font-size--accent:           1.25rem;


@font-family:                 "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@line-height:                 1.4em;
// @line-height--desktop:        1.5em;
@line-height--heading:        1.2em;