<div class="s-section s-partners">
  <div class="container">
    <div class="s-partners__slider owl-carousel owl-theme">
      <div class="s-partners__slide">
        <img src="img/rr_cert.png" alt="">
      </div>
      <div class="s-partners__slide">
        <img src="img/irca_cert.png" alt="">
      </div>
      <div class="s-partners__slide">
        <img src="img/vok_cert.png" alt="">
      </div>
      <div class="s-partners__slide">
        <img src="img/ssoo_cert.png" alt="">
      </div>
      <div class="s-partners__slide">
        <img src="img/ignet_cert.png" alt="">
      </div>
    </div>
  </div>
</div>