.s-page-footer {
  background-color: @bg-color--dark;
  color: @text-color--light;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__logo {
    vertical-align: top;
    margin-right: 1rem;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      display: inline-block;
      max-width: 25%;
    }
  }

  &__slogan {
    vertical-align: top;
    display: none;

    @media (min-width: @screen-sm) {
      display: inline-block;
      max-width: 70%;
    }
  }

  &__nav {
    font-size: 0.875em;
    margin-bottom: 2rem;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    list-style-type: none;
  }

  &__nav-link {
    display: inline-block;
    color: currentColor;
    letter-spacing: 0.025em;
    padding: 0.25em 0;
  }

  &__contact-info {
    font-size: 0.875em;
  }

  &__contact-info-group {

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__contact-info-list {
    list-style-type: none;
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
    }

    &--phone-numbers {

      &::before {
        .sprite(@phone-white);
      }
    }

    &--e-mails {

      &::before {
        .sprite(@mail-white);
      }
    }
  }

  &__contact-info-link {
    font-weight: 700;
    display: inline-block;
    color: currentColor;
    padding: 0.125em 0;
  }

  &__copyright {
    margin-top: 1rem;

    @media (min-width: @screen-sm) {
      text-align: center;
    }
  }
}