<footer class="s-page-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <a href="index.html" class="s-page-footer__logo s-logo">
          <img src="img/logo.png" alt="">
        </a>
        <div class="s-page-footer__slogan s-slogan">
          <strong class="s-slogan__title">Регистр-консалтинг</strong>
          <div class="s-slogan__desc">Консалтинг, обучение и внедрение СМК ISO серий 9000, 14000 и OHSAS 18000</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <nav class="s-page-footer__nav">
          <ul class="s-page-footer__nav-list">
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Системы менеджмента качества</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Система экологического менеджмента</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Охрана труда</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Системы управления качеством</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Пищевая безопасность</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="s-page-footer__contact-info">
          <div class="s-page-footer__contact-info-group">
            <ul class="s-page-footer__contact-info-list s-page-footer__contact-info-list--phone-numbers">
              <li class="s-page-footer__contact-info-item">
                <a href="tel:+78122750512" class="s-page-footer__contact-info-link">+ 7 (812) 275 05 12</a>
              </li>
              <li class="s-page-footer__contact-info-item">
                <a href="tel:+78122750513" class="s-page-footer__contact-info-link">+ 7 (812) 275 05 13</a>
              </li>
            </ul>
          </div>
          <div class="s-page-footer__contact-info-group">
            <ul class="s-page-footer__contact-info-list s-page-footer__contact-info-list--e-mails">
              <li class="s-page-footer__contact-info-item">
                <a href="mailto:mail@regcon.ru" class="s-page-footer__contact-info-link">mail@regcon.ru</a>
              </li>
              <li class="s-page-footer__contact-info-item">
                <a href="mailto:emc@regcon.ru" class="s-page-footer__contact-info-link">emc@regcon.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="s-page-footer__copyright col-xs-12">
        <small>Register-Consulting 2018</small>
      </div>
    </div>
  </div>
</footer>