.s-contacts {

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__info {
    font-style: normal;
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }

  &__info-group {

    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }
  }

  &__ingo-group-list {
    list-style-type: none;
  }

  &__subtitle {
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
    }

    &--phone {

      &::before {
        .sprite(@phone-border);
      }
    }

    &--e-mail {

      &::before {
        .sprite(@mail-border);
      }
    }

    &--address {

      &::before {
        .sprite(@map-point-border);
      }
    }
  }

  &__link {
    color: currentColor;
    opacity: 0.9;
  }
}