.s-standart {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__title {
    text-align: left;
    margin-bottom: 1rem;
    text-indent: -0.0675em;
  }

  &__info {
    margin-bottom: 2rem;

    p {
      margin: 0;
    }

    ul {
      padding-left: 3em;

      li {
        padding-left: 1em;
      }
    }
  }

  &__cover {
    text-align: center;
    margin-top: 2rem;

    @media (min-width: @screen-sm) {
      margin-top: 0;
    }
  }
}