@burger-width:          40px;
@burger-height:         40px;

.s-burger {
  position: relative;
  height: @burger-height;
  width: @burger-width;
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;

  @media (min-width: @screen-sm) {
    display: none;
  }

  span {
    position: absolute;
    top: @burger-height / 2;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: @white;

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: @white;
    }

    &::before {
      top: -0.5em;
    }

    &::after {
      bottom: -0.5em;
    }
  }
}