@width:          24px;
@height:         24px;

.s-controls {

  &__item {
    position: relative;
    width: @width;
    height: @height;
    background-color: @bg-color--dark;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: @width / 3;
      height: @height / 3;
      background-color: transparent;
      border: 1px solid @white;
    }

    &:hover {
      background-color: @blue-lighter;
    }

    &--left {

      &::before {
        border-right: 0;
        border-bottom: 0;
        transform: translate(-25%,-50%) rotate(-45deg);
      }
    }

    &--right {

      &::before {
        border-left: 0;
        border-top: 0;
        transform: translate(-75%,-50%) rotate(-45deg);
      }
    }
  }
}