.s-main-title {
  color: @blue;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;

  @media (min-width: @screen-sm) {
    font-size: 3rem;
  }
}