.s-features {
  background-color: @gray-lightest;

  &__item {
    background-color: @white;
    padding: 2rem;
    margin-bottom: 15px;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }
}